{% extends "helmdectpages/base.html" %}

{% block content %}
    <section class="py-5 mt-5">
        <form class="d-flex justify-content-center flex-wrap" method="post" data-bs-theme="light" style="margin-left: initial;">
            <div class="shadow-lg mb-3"><input class="form-control" type="email" name="search" placeholder="Search"></div>
            <div class="shadow-lg mb-3"><button class="btn btn-primary" type="submit">Search</button></div>
        </form>
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold"><br><span class="underline pb-2">Detailed Reports of Violators</span></h2>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Number of Motor<br>cyclist Detected</th>
                            <th scope="col">Plate number</th>
                            <th scope="col">location</th>
                            <th scope="col">time</th>
                            <th scope="col">type of helmet</th>
                            <th scope="col">Color</th>
                            <th scope="col">texture</th>
                            <th scope="col">Proper usage</th>
                            <th scope="col">violations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Attributes" scope="row">{{ motorcyclist_detected }}</td>
                            <td data-label="Base Class">{{ plate_number }}</td>
                            <td data-label="Simulated Case">{{ location }}</td>
                            <td data-label="Simulated Case">{{ time }}</td>
                            <td data-label="Simulated Case">{{ type_of_helmet }}</td>
                            <td data-label="Simulated Case">{{ color }}</td>
                            <td data-label="Simulated Case">{{ texture }}</td>
                            <td data-label="Simulated Case">{{ proper_usage }}</td>
                            <td data-label="Simulated Case">{{ violations }}</td>
                        </tr>
                        <tr>
                            <td data-label="Attributes" scope="row">{{ motorcyclist_detected }}</td>
                            <td data-label="Base Class">{{ plate_number }}</td>
                            <td data-label="Simulated Case">{{ location }}</td>
                            <td data-label="Simulated Case">{{ time }}</td>
                            <td data-label="Simulated Case">{{ type_of_helmet }}</td>
                            <td data-label="Simulated Case">{{ color }}</td>
                            <td data-label="Simulated Case">{{ texture }}</td>
                            <td data-label="Simulated Case">{{ proper_usage }}</td>
                            <td data-label="Simulated Case">{{ violations }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}
{% endblock %}