{% extends "helmdectpages/base.html" %}
{% load static %}
{% block css %}
<style>
    #canvasContainer {
      position: relative;
    }
    canvas {
      border: 1px solid black;
    }
    .label {
      position: absolute;
      color: red;
      font-weight: bold;
      background-color: white;
      padding: 2px;
    }
  </style>
{% endblock %}
{% block content %}

<section class="py-5">
    <div class="container-fluid py-5">
    <div class="row">
        <section id="banner" class="my-0 py-0">
            <div class="content">
                <h2>Welcome to</h2>
                <div class="d-flex justify-content-center">
                    <img src="{% static 'images/logo_with_text.png' %}" class="img-fluid mx-auto w-25">
                </div>
            </div>
        </section>
    </div>
    <!-- <div class="row pt-0">
        <div class="col">
            <div class="d-flex justify-content-center">
                <img src="{% static 'images/logo_with_text.png' %}" class="img-fluid mx-auto w-25">
            </div>
        </div>
    </div> -->
</div>
<div class="container py-1 py-xl-3">
    <div class="row mb-3">
        <div class="col-12 mx-auto">
            <div class="card shadow-lg px-3 mb-5 rounded">
                <div class="card-body text-center">
                    <h2 class="card-title display-6 fw-bold mb-4"><br><span
                            class="underline">Preview</span></h2>
                    <img src="https://firebasestorage.googleapis.com/v0/b/helmdetect.appspot.com/o/download.jpg?alt=media&token=da9ace65-bbb7-4ec7-9ba0-f21499cbfa46" class="img-fluid w-100">
                    <!-- <div id="canvasContainer"> -->
                        <!-- <canvas id="canvas"></canvas> -->
                      <!-- </div> -->
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div>
</div>

</section>
<br>
<br>
<br>
<br>
{% include 'partials/footer.html' %}

{% endblock %}

{% block scripts %}
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
    import { getDatabase, ref, set, get, child, update, orderByChild, limitToLast, equalTo, query } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-database.js";
    import { getStorage, ref as storageRef, uploadString, getDownloadURL } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-storage.js";
  
    const firebaseConfig = {
    apiKey: "AIzaSyCzRcnLmrsCyczpTZ-0vTpIwcPilBNNBms",
    authDomain: "helmetdetect2.firebaseapp.com",
    databaseURL: "https://helmetdetect2-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "helmetdetect2",
    storageBucket: "helmetdetect2.appspot.com",
    messagingSenderId: "923550243445",
    appId: "1:923550243445:web:dcef12e0affd750311363c"
  };
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);
    const storage = getStorage();

    const recentReportRef = ref(database, 'preview');

    get(recentReportRef).then((snapshot) => {
    if (snapshot.exists()) {
        let value = snapshot.val();
        console.log(value);

        $('.card-footer').append(`<p>Location: Mati City</p><p>Plate Number: <img src='${ value.plate_number }' alt='No plate number detected'/></p><p>Helmet Type: ${ value.helmet_type }</p><p>Violations: ${ value.violations }</p>`);
    }
  });

</script>

{% endblock %}